$color: #f1f1f1;
body {
  background-color: $color;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

h2 {
  color: indianred;
}

// NAV
.nav {
  padding: 15px;
  margin-bottom: 40px;
  background-color: darkslategray;
  color: white;
  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
  &__item {
    padding: 0 8px;
    color: white;
    & a {
      color: white;
    }
  } 
}

// FORM

form {
  box-sizing: border-box;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  & fieldset {
    box-sizing: border-box;
    padding: 30px;
  }
  legend {
    font-size: 1.25rem;
  }
  & label, input, textarea {
    display: block;
    width: 100%;
  }
  & input, select {
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 7.5px;
  }
  & label {
    margin-bottom: 2px;
  } 
  & textarea {
    box-sizing: border-box;
    min-height: 75px;
  }
  button {
    display: inline-block;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}